# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude any .terraform directories
**/.terraform/*

# Ignore .tfvars files which are likely to contain sensitive information
*.tfvars

# Ignore override files as they're usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
environments.sh

# terraform graph
*.pdf

# terraform token
token

# SSH keys
id_rsa
id_rsa.pub